@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic");

.pricing {
	text-align: center;
	border: 1px solid #f0f0f0;
	color: #777;
	font-size: 14px;
	padding-left: 0;
	margin-bottom: 30px;
  font-family: 'Lato';
}
.pricing img {
	display: block;
	margin: auto;
	width: 32px;
}
.pricing li:first-child,
.pricing li:last-child {
	padding: 20px 13px;
}
.pricing li {
	list-style: none;
	padding: 13px;
}
.pricing li + li {
	border-top: 1px solid #f0f0f0;
}
.pricing big {
	font-size: 32px;
}
.pricing h3 {
	margin-bottom: 0;
  font-size: 36px;
}
.pricing span {
	font-size: 12px;
	color: #999;
	font-weight: normal;
}
.pricing li:nth-last-child(2) {
	padding: 30px 13px;
}
.pricing button {
	width: auto;
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	border-radius: 50px;
	color: #fff;
	padding: 9px 24px;
	background: #aaa;
	opacity: 1;
	transition: opacity .2s ease;
  border: none;
  outline: none;
}
.pricing button:hover {
	opacity: .9;
}
.pricing button:active {
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
}
/* pricing color */
.p-green big,
.p-green h3 {
	color: #4c7737;
}
.p-green button {
	background: #4c7737;
}
.p-yel big,
.p-yel h3 {
	color: #ffbb42;
}
.p-yel button {
	background: #ffbb42;
}
.p-red big,
.p-red h3 {
	color: #e13c4c;
}
.p-red button {
	background: #e13c4c;
}
.p-blue big,
.p-blue h3 {
	color: #3f4bb8;
}
.p-blue button {
	background: #3f4bb8;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
		width:1659px;
    margin-left: -262px;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
    width:1659px;
    margin-left: -262px;
}

#link_codepromo {
	color: #2f2f2f;
}
#link_codepromo:hover {
	color: #FF4742;
}

.item {
	position:relative;
	padding-top:20px;
	display:inline-block;
}
.notify-badge{
	position: absolute;
	right:-20px;
	top:10px;
	background:#FF4742;
	text-align: center;
	border-radius: 30px 30px 30px 30px;
	color:white;
	padding:5px 15px;
	font-size:22px;
	font-weight: bold;
}

.green {
  color: black;
  border: 2px #2ecc71 solid;
  background-color: white;
  transition-duration: 0.35s;
  float:right;
  background-color:white;
  font-weight:bold;
  border-color:black;
  font-size:16px;
}

#spangreen {
	color: black;
	font-size: 16px;
	border-color:black;
}

.green:hover #spangreen {
  color: white;
  background-color: green;
  transition-duration: 0.35s;
  font-weight:bold;
  border-color:white;
  font-size:16px;
}
.green:hover {
  color: white;
  background-color: green;
  transition-duration: 0.35s;
  font-weight:bold;
  border-color:green;
  font-size:16px;
}
.green:focus {
  color: black;
  border: 2px #2ecc71 solid;
  background-color: white;
  transition-duration: 0.35s;
  float:right;
  background-color:white;
  font-weight:bold;
  border-color:black;
  font-size:16px;
  outline: none;
}
.green:focus #spangreen {
	color: black;
	font-size: 16px;
	background-color: white;
	border-color:black;
	outline: none;
}

.product_view .modal-dialog{
	max-width: 800px;
	width: 100%;
}
.pre-cost{
	text-decoration: line-through;
	color: #a5a5a5;
}
.space-ten{
	padding: 10px 0;
}


